---
# pre-commit install
# pre-commit run --all-files
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
        #     args: [--unsafe]
  # Ruff
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.0.254'
    hooks:
      - id: ruff
        args: ["--fix"]
  # isort should run before black as black sometimes tweaks the isort output
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        stages: [manual]
  # https://github.com/python/black#version-control-integration
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.13.0"  # replace with latest tag on GitHub
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==23.1.0
        exclude: ^README.md
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.8
    hooks:
      - id: blackdoc
        additional_dependencies: ["black==23.1.0"]
      - id: blackdoc-autoupdate-black
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        types_or: [python, rst, markdown, cython, c]
        additional_dependencies: [tomli]
        args: [-I, docs/spelling_wordlist.txt]
        stages: [manual]
  # this should be run before flake8 to
  # this should be run externally
  # messes up too many things
  # - repo: https://github.com/PyCQA/docformatter
  #   rev: v1.5.0
  #   hooks:
  #     - id: docformatter
  #       args: [--in-place]
  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        stages: [manual]
        additional_dependencies: [flake8-docstrings]
        exclude: ^tests/|docs/notebooks/gpr/|src/thermoextrap/legacy/|^docs/conf.py|^setup.py
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.1.1
    hooks:
      - id: mypy
        # `properies` & `asv_bench` are copied from setup.cfg.
        # `_typed_ops.py` is added since otherwise mypy will complain (but notably only in pre-commit)
        exclude: properties|asv_bench|_typed_ops.py|conf.py
        # This is slow and so we take it out of the fast-path; requires passing
        # `--hook-stage manual` to pre-commit
        stages: [manual]
        additional_dependencies: [types-pkg_resources, typing-extensions==3.10.0.0, numpy]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        stages: [manual]
        args:
          - --py38-plus
          # remove on f-strings in Py3.7
          - --keep-percent-format
