include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md



recursive-include tests *.py

global-exclude *.py[co]
prune */*.egg-info
prune */*mypy_cache
prune */*ipynb_checkpoints
prune */__pycache__

prune docs
prune notebooks
