include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Makefile

recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * [.]mypy_cache
recursive-exclude * [.]ipynb_checkpoints

global-exclude *.py[co]
prune docs
prune notebooks
